* {
  box-sizing: border-box
}

:root {
  --primary-color: rgb(255, 166, 0);
  --secondary-color: rgba(152, 7, 152, 0.877);
  --tertiary-color: #293462;
}

body {
  background-color: rgb(96, 96, 15);
  /* min-height: 100vh; */
  display: grid;
  grid-template-rows: 10vh 84vh 2vh 4vh;
  width: 100%;
}

/* ############### HEADER SECTION ############### */

header {
  background-color: #344aa6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo,
header p,
header button,
nav {
  padding: 3%;
  background-color: aqua;
  align-self: center;
}

nav {
  background-color: lightgreen;
  margin-right: 5%;
}

#logo {
  margin-left: 5%;
}

header p {
  background-color: lightcoral;
  visibility: hidden;
}

header button {
  background-color: violet;
}

/* ########## BODY SECTION --INDEX-- ########## */

main {
  background-color: #293462;
  grid-row-start: 2;
  grid-row-end: 14;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;

}

/* investigate how to make the footer stick but ONLY on the index.html, the others auto */
footer {
  background-color: #293462;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-end: auto;
  padding-top: 2%;
}

.icons {
  background-color: lightcoral;
  margin: 1%;
  padding: 2%;
  display: flex;
  align-items: center;
}

.impressum {
  margin: 1%;
  background-color: #293462;
  color: beige;
  font-size: x-small
}

a:hover {
  cursor: pointer;
}

/* ########## BODY SECTION --INFOS-- ########## */

.main-infos {
  flex-direction: column;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
}

h2 {
  padding: 5%;
}

.section1,
.section4,
.section6 {
  background-color: rgb(255, 166, 0);
}

.preise {
  background-color: rgba(152, 7, 152, 0.877);
  height: 20em;
  width: 40em;
  margin: 15%;

}

.preise p,
.zeiten p {
  padding: 5%;
  padding-top: 0;
  line-height: 1.5;
}

/* why does the bottom border not align!! */
.section2,
.section7 {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
}

.zeiten,
.directions,
.anmeldeformular,
.kontaktformular {
  height: 20em;
  width: 40em;
  margin: 15%;
}

.directions,
.anmeldeformular,
.kontaktformular {
  display: flex;
  justify-content: center;
}

.zeiten {
  background-color: var(--primary-color);
}

.section3,
.section5 {
  background-color: var(--secondary-color);
}

.directions {
  background-color: var(--secondary-color);
  flex-direction: column;
  align-items: center;
}

.anmeldeformular {
  background-color: var(--primary-color);
}

.kontaktformular {
  background-color: var(--secondary-color);
}


/* ########## BODY SECTION --BIOGRAPHIEN-- ########## */

.main-biographien {
  flex-direction: column;
  font-size: 17px;
}

.main-biographien>section:not(:nth-child(2)) {
  flex-direction: column;
  background-color: rgb(16, 109, 109);
}

.main-biographien>section {
  background-color: blueviolet;
  padding: 4%;
}

.main-biographien>.sectionB>div {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 140px auto;
}

.main-biographien:first-child {
  background-color: lightcoral;
}

.sectionA>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-biographien>section>div>p {
  margin: 2em;
  margin-bottom: 3em;
  text-align: justify;
}

.main-biographien>h1 {
  font-size: x-large;
  /* font-stretch: extra-expanded; WARUM GREIT NICHT?*/
  padding: 2em;
}

.main-biographien>section>div>p {
  line-height: 1.5;
}

.sectionA>div>h2 {
  padding-top: 1%;
  font-size: large;
}

/* ############### MEDIA QUEERIES ############### */

@media (min-width: 768px) {

  /* find a way to position the footer fixed at bottom */
  header p {
    visibility: visible;
  }

  .preise,
  .zeiten,
  .directions,
  .anmeldeformular,
  .kontaktformular {
    height: 25em;
    width: 65em;
    margin: 10%;
  }

  .section2,
  .section7 {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10%;
  }

  .sectionB {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}