/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f25430;
  /* min-height: 100vh; */
  display: grid;
  grid-template-rows: 10vh 84vh 2vh 4vh;
}

main {
  background-color: white;
  grid-row-start: 2;
  grid-row-end: 14;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f25430;
}

footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-end: auto;
  padding-top: 2%;
}

.icons {
  background-color: lightcoral;
  margin: 1%;
  padding: 2%;
  display: flex;
  align-items: center;
}

.impressum {
  margin: 1%;
  background-color: #293462;
  color: beige;
  font-size: x-small;
}

a:hover {
  cursor: pointer;
}

.main-infos {
  flex-direction: column;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
}

h2 {
  padding: 5%;
}

.section1,
.section4,
.section6 {
  background-color: rgb(255, 166, 0);
}

.preise {
  background-color: rgba(152, 7, 152, 0.877);
  height: 20em;
  width: 40em;
  margin: 15%;
}
.preise p {
  padding: 5%;
  padding-top: 0;
  line-height: 1.5;
}

.zeiten p {
  padding: 5%;
  padding-top: 0;
  line-height: 1.5;
}

/* why does the bottom border not align!! */
.section2,
.section7 {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
}

.zeiten,
.directions,
.anmeldeformular,
.kontaktformular {
  height: 20em;
  width: 40em;
  margin: 15%;
}

.directions,
.anmeldeformular,
.kontaktformular {
  display: flex;
  justify-content: center;
}

.zeiten {
  background-color: var(--primary-color);
}

.section3,
.section5 {
  background-color: var(--secondary-color);
}

.directions {
  background-color: var(--secondary-color);
  flex-direction: column;
  align-items: center;
}

.anmeldeformular {
  background-color: var(--primary-color);
}

.kontaktformular {
  background-color: var(--secondary-color);
}

@media (min-width: 768px) {
  .preise,
  .zeiten,
  .directions,
  .anmeldeformular,
  .kontaktformular {
    height: 25em;
    width: 65em;
    margin: 10%;
  }
  .section2,
  .section7 {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10%;
  }
  .sectionB {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.main-biographien {
  flex-direction: column;
  font-size: 17px;
}
.main-biographien > section {
  background-color: blueviolet;
  padding: 4%;
}
.main-biographien > section:not(:nth-child(2)) {
  flex-direction: column;
  background-color: rgb(16, 109, 109);
}
.main-biographien > .sectionB > div {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 140px auto;
}
.main-biographien:first-child {
  background-color: lightcoral;
}

.sectionA > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-biographien > section > div > p {
  margin: 2em;
  margin-bottom: 3em;
  text-align: justify;
}
.main-biographien > h1 {
  font-size: x-large;
  /* font-stretch: extra-expanded; WARUM GREIT NICHT?*/
  padding: 2em;
}
.main-biographien > section > div > p {
  line-height: 1.5;
}

.sectionA > div > h2 {
  padding-top: 1%;
  font-size: large;
}

header {
  background-color: white;
  display: grid;
  grid-template-columns: 3% 2% 45% 10% 10% 25% 5%;
}
header #logo {
  grid-column-start: 3;
  align-self: center;
}
header #logo img {
  height: 5rem;
  width: 7rem;
}
@media (min-width: 992px) {
  header #logo {
    grid-column-start: 2;
  }
}
header .button-nav-div {
  grid-column-start: 4;
  grid-column-end: 7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 576px) {
  header .button-nav-div {
    grid-column-start: 5;
    margin-left: 10%;
  }
}
@media (min-width: 768px) {
  header .button-nav-div {
    grid-column-start: 6;
    margin-left: 15%;
  }
}
header .button-nav-div button {
  background-color: white;
  border: 3px solid #011140;
  border-radius: 5px;
  width: fit-content;
  padding: 0.4rem 0.6rem;
  align-self: center;
  color: #011140;
  font-family: "Avenir Next", sans-serif;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  header .button-nav-div button {
    font-size: 0.88rem;
    padding: 0.5rem 0.7rem;
  }
}
@media (min-width: 992px) {
  header .button-nav-div button {
    font-size: 1rem;
  }
}

nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: none;
  width: 100vw;
  height: 100vh;
}
nav input {
  opacity: 1;
  z-index: 2;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  display: none;
}
@media (min-width: 768px) {
  nav input {
    display: none;
  }
}
nav #hamburger-nav {
  background-color: #f25430;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  height: 2.75rem;
  width: 2.75rem;
  padding: 0.5rem;
}
nav #hamburger-nav span {
  display: inline-block;
  width: 1.75rem;
  height: 0.33rem;
  border-radius: 2px;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
