/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 10vh 85vh;
  background-color: #f25430;
  width: 100%;
}

main {
  background-color: white;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2.3rem;
  padding-top: 2rem;
  color: #f25430;
}
main div {
  line-height: 1.2;
  font-family: "Blakely", sans-serif;
  color: #011140;
  font-size: 2rem;
}
main div ~ div {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: flex-end;
  font-family: "Avenir Next LT Pro", sans-serif;
  font-size: 1rem;
  padding-right: 9rem;
}
main a:hover {
  cursor: pointer;
}

.main-infos {
  flex-direction: column;
  padding-left: 0;
  padding-top: 0;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
}

h2 {
  padding: 5%;
}

.section1,
.section4,
.section6 {
  background-color: rgb(255, 166, 0);
}

.preise {
  background-color: rgba(152, 7, 152, 0.877);
  height: 20em;
  width: 40em;
  margin: 15%;
}
.preise p {
  padding: 5%;
  padding-top: 0;
  line-height: 1.5;
}

.zeiten p {
  padding: 5%;
  padding-top: 0;
  line-height: 1.5;
}

/* why does the bottom border not align!! */
.section2,
.section7 {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
}

.zeiten,
.directions,
.anmeldeformular,
.kontaktformular {
  height: 20em;
  width: 40em;
  margin: 15%;
}

.directions,
.anmeldeformular,
.kontaktformular {
  display: flex;
  justify-content: center;
}

.zeiten {
  background-color: var(--primary-color);
}

.section3,
.section5 {
  background-color: var(--secondary-color);
}

.directions {
  background-color: var(--secondary-color);
  flex-direction: column;
  align-items: center;
}

.anmeldeformular {
  background-color: var(--primary-color);
}

.kontaktformular {
  background-color: var(--secondary-color);
}

@media (min-width: 768px) {
  .preise,
  .zeiten,
  .directions,
  .anmeldeformular,
  .kontaktformular {
    height: 25em;
    width: 65em;
    margin: 10%;
  }
  .section2,
  .section7 {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10%;
  }
  .sectionB {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.main-biographien {
  flex-direction: column;
  font-size: 1rem;
  font-family: "Avenir Next LT Pro", sans-serif;
  padding-left: 0;
  padding-top: 0;
}
.main-biographien > section {
  background-color: blueviolet;
  padding: 4%;
}
.main-biographien > section:not(:nth-child(2)) {
  flex-direction: column;
  background-color: rgb(16, 109, 109);
}
.main-biographien > .sectionB > div {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 140px auto;
}
.main-biographien:first-child {
  background-color: lightcoral;
}

.sectionA > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-biographien > section > div > p {
  margin: 2em;
  margin-bottom: 3em;
  text-align: justify;
}
.main-biographien > h1 {
  font-size: 1.5rem;
  font-family: "Avenir Next LT Pro", sans-serif;
  display: flex;
  justify-content: center;
  /* font-stretch: extra-expanded; WARUM GREIT NICHT?*/
  padding: 2em;
}
.main-biographien > section > div > p {
  line-height: 1.5;
  font-family: "Avenir Next LT Pro", sans-serif;
  font-size: 1rem;
}

.sectionA > div > h2 {
  padding-top: 1%;
  font-size: large;
}

header {
  background-color: white;
  display: grid;
  align-items: center;
  padding-top: 1.4rem;
  grid-template-columns: 5fr 2fr 3fr;
}
header #logo {
  margin-left: 2.5rem;
}
header #logo img {
  height: auto;
  width: 7rem;
}
header button {
  grid-column-start: 2;
  background-color: white;
  border: 3px solid #011140;
  border-radius: 5px;
  width: fit-content;
  padding: 0.3rem 0.6rem 0.1rem 0.6rem;
  color: #011140;
  font-family: "Avenir Next LT Pro", sans-serif;
  font-size: 0.85rem;
}
@media (min-width: 650px) {
  header button {
    grid-column-start: 3;
  }
}

nav {
  position: fixed;
  top: 2.1rem;
  right: 2.1rem;
}
nav .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0;
}
nav .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
nav .toggler:checked + .hamburger > div:before, nav .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
nav .toggler:checked ~ .menu {
  visibility: visible;
}
nav .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.4s ease;
}
nav .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
nav .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 45px;
  height: 45px;
  padding: 0.6rem;
  background: #f25430;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.9s ease;
}
nav .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .hamburger > div:before, nav .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
nav .hamburger > div:after {
  top: 10px;
}
nav .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .menu > div {
  background: white;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.5s ease;
}
nav .menu > div > div > ul > li {
  border: #011140 solid 3px;
  height: 7rem;
  width: 2rem;
  border-radius: 5px;
  transform: translate(-3rem, -7rem) rotate(405deg);
  padding: 0.5rem;
}
@media (min-width: 650px) {
  nav .menu > div > div > ul > li {
    transform: translate(-13rem, -1rem) rotate(405deg);
    height: 8rem;
    width: 2.5rem;
  }
}
nav .menu > div > div > ul > li ~ li {
  transform: translate(3rem, 3rem) rotate(-45deg);
}
@media (min-width: 650px) {
  nav .menu > div > div > ul > li ~ li {
    transform: translate(13rem, -9rem) rotate(-45deg);
  }
}
nav .menu > div > div > ul > li > a {
  color: #f25430;
  text-decoration: none;
  font-family: "Avenir Next LT Pro", sans-serif;
  font-size: 1rem;
  transition: color 0.04s ease;
}
@media (min-width: 650px) {
  nav .menu > div > div > ul > li > a {
    font-size: 1.2rem;
  }
}
nav .menu > div > div > ul > li > a > .team {
  transform: translate(3rem, 3rem) rotate(-45deg);
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
nav .menu > div > div > ul > li > a > .team .t {
  transform: translate(2rem);
}
nav .menu > div > div > ul > li > a > .team .e {
  transform: translate(3rem);
}
nav .menu > div > div > ul > li > a > .team .a {
  transform: translate(4rem);
}
nav .menu > div > div > ul > li > a > .team .m {
  transform: translate(5rem);
}
@media (min-width: 650px) {
  nav .menu > div > div > ul > li > a {
    transform: translate(1rem, 0.5rem) rotate(-45deg);
  }
  nav .menu > div > div > ul > li > a .t {
    transform: translate(2rem);
  }
  nav .menu > div > div > ul > li > a .e {
    transform: translate(3rem);
  }
  nav .menu > div > div > ul > li > a .a {
    transform: translate(4rem);
  }
  nav .menu > div > div > ul > li > a .m {
    transform: translate(5rem);
  }
}
nav .menu > div > div > ul > li > a > .infos {
  transform: translate(-4rem, 1.6rem) rotate(45deg);
  line-height: 20px;
}
nav .menu > div > div > ul > li > a > .infos .i {
  transform: translate(0rem);
}
nav .menu > div > div > ul > li > a > .infos .n {
  transform: translate(-1rem);
}
nav .menu > div > div > ul > li > a > .infos .f {
  transform: translate(-2rem);
}
nav .menu > div > div > ul > li > a > .infos .o {
  transform: translate(-3rem);
}
nav .menu > div > div > ul > li > a > .infos .s {
  transform: translate(-4rem);
}
@media (min-width: 650px) {
  nav .menu > div > div > ul > li > a > .infos {
    transform: translate(-4rem, 2rem) rotate(45deg);
  }
  nav .menu > div > div > ul > li > a > .infos .i {
    transform: translate(0rem);
  }
  nav .menu > div > div > ul > li > a > .infos .n {
    transform: translate(-1.5rem);
  }
  nav .menu > div > div > ul > li > a > .infos .f {
    transform: translate(-3rem);
  }
  nav .menu > div > div > ul > li > a > .infos .o {
    transform: translate(-4.5rem);
  }
  nav .menu > div > div > ul > li > a > .infos .s {
    transform: translate(-6rem);
  }
}

footer {
  display: flex;
  flex-direction: column;
  grid-row-start: 3;
  align-items: center;
  margin-bottom: 0;
}
footer .icons {
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
footer .icons img {
  width: 2.3rem;
  height: 1.3rem;
}
footer .impressum {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100vw;
  padding: 0.2rem;
  color: #011140;
  font-size: x-small;
  font-family: "Avenir Next LT Pro", sans-serif;
}
footer a:hover {
  cursor: pointer;
}

@media (min-width: 650px) {
  .carousel {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }
  .slides {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .slides::-webkit-scrollbar {
    display: none;
  }
  .slides-item {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    height: 100vh;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform 0.5s;
    width: 100vw;
    background-size: cover;
    background-position: center center;
  }
  .carousel__nav {
    padding: 1.25rem 0.5rem;
  }
  .slider-nav {
    align-items: center;
    background-color: #011140;
    border-radius: 30%;
    color: white;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
  }
  .slider-nav:hover,
  .slider-nav:active {
    background-color: #f25430;
    color: white;
  }
  .slide-2 {
    background-image: url(/resources/img/blue_stairs_bg.svg);
  }
  .slide-3 {
    background-image: url(/resources/img/white_bg.svg);
  }
  .slide-4 {
    background-image: url(/resources/img/maushaus_bg.svg);
  }
  .slide-5 {
    background-image: url(/resources/img/superkunst_bg.svg);
  }
  .carousel__skip-link {
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }
  .carousel__skip-link:focus {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 30px;
    height: 680px;
    justify-content: center;
    opacity: 0.8;
    text-decoration: none;
    width: 100%;
    z-index: 1;
  }
}

/*# sourceMappingURL=style.css.map */
