/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f25430;
  /* min-height: 100vh; */
  display: grid;
  grid-template-rows: 10vh 84vh 2vh 4vh;
}

main {
  background-color: white;
  grid-row-start: 2;
  grid-row-end: 14;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f25430;
}

footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-end: auto;
  padding-top: 2%;
}

.icons {
  background-color: lightcoral;
  margin: 1%;
  padding: 2%;
  display: flex;
  align-items: center;
}

.impressum {
  margin: 1%;
  background-color: #293462;
  color: beige;
  font-size: x-small;
}

a:hover {
  cursor: pointer;
}

.main-infos {
  flex-direction: column;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
}

h2 {
  padding: 5%;
}

.section1,
.section4,
.section6 {
  background-color: rgb(255, 166, 0);
}

.preise {
  background-color: rgba(152, 7, 152, 0.877);
  height: 20em;
  width: 40em;
  margin: 15%;
}
.preise p {
  padding: 5%;
  padding-top: 0;
  line-height: 1.5;
}

.zeiten p {
  padding: 5%;
  padding-top: 0;
  line-height: 1.5;
}

/* why does the bottom border not align!! */
.section2,
.section7 {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
}

.zeiten,
.directions,
.anmeldeformular,
.kontaktformular {
  height: 20em;
  width: 40em;
  margin: 15%;
}

.directions,
.anmeldeformular,
.kontaktformular {
  display: flex;
  justify-content: center;
}

.zeiten {
  background-color: var(--primary-color);
}

.section3,
.section5 {
  background-color: var(--secondary-color);
}

.directions {
  background-color: var(--secondary-color);
  flex-direction: column;
  align-items: center;
}

.anmeldeformular {
  background-color: var(--primary-color);
}

.kontaktformular {
  background-color: var(--secondary-color);
}

@media (min-width: 768px) {
  .preise,
  .zeiten,
  .directions,
  .anmeldeformular,
  .kontaktformular {
    height: 25em;
    width: 65em;
    margin: 10%;
  }
  .section2,
  .section7 {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10%;
  }
  .sectionB {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.main-biographien {
  flex-direction: column;
  font-size: 17px;
}
.main-biographien > section {
  background-color: blueviolet;
  padding: 4%;
}
.main-biographien > section:not(:nth-child(2)) {
  flex-direction: column;
  background-color: rgb(16, 109, 109);
}
.main-biographien > .sectionB > div {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 140px auto;
}
.main-biographien:first-child {
  background-color: lightcoral;
}

.sectionA > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-biographien > section > div > p {
  margin: 2em;
  margin-bottom: 3em;
  text-align: justify;
}
.main-biographien > h1 {
  font-size: x-large;
  /* font-stretch: extra-expanded; WARUM GREIT NICHT?*/
  padding: 2em;
}
.main-biographien > section > div > p {
  line-height: 1.5;
}

.sectionA > div > h2 {
  padding-top: 1%;
  font-size: large;
}

header {
  background-color: white;
  display: grid;
  grid-template-columns: 5fr 2fr 3fr;
}
header #logo {
  position: fixed;
  top: 2rem;
  left: 2.5rem;
}
header #logo img {
  height: auto;
  width: 7rem;
}
header button {
  grid-column-start: 2;
  position: sticky;
  top: 2.3rem;
  background-color: white;
  border: 3px solid #011140;
  border-radius: 5px;
  width: fit-content;
  padding: 0.4rem 0.6rem;
  align-self: center;
  color: #011140;
  font-family: "Avenir Next", sans-serif;
  font-size: 0.75rem;
}
@media (min-width: 650px) {
  header button {
    grid-column-start: 3;
  }
}

nav {
  position: fixed;
  top: 2rem;
  right: 2rem;
}
nav .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0;
}
nav .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
nav .toggler:checked + .hamburger > div:before, nav .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
nav .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
nav .toggler:checked ~ .menu {
  visibility: visible;
}
nav .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.4s ease;
}
nav .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
nav .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 45px;
  height: 45px;
  padding: 0.6rem;
  background: #f25430;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.9s ease;
}
nav .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .hamburger > div:before, nav .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
nav .hamburger > div:after {
  top: 10px;
}
nav .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .menu > div {
  background: white;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.5s ease;
}
nav .menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
}
nav .menu > div > div > ul > li {
  border: #011140 solid;
  border-radius: 4px;
  transform: translate(0, -7rem) rotate(315deg);
  padding: 0.5rem;
}
@media (min-width: 650px) {
  nav .menu > div > div > ul > li {
    transform: translate(-9rem, 0rem) rotate(315deg);
  }
}
nav .menu > div > div > ul > li ~ li {
  transform: translate(0, 7rem) rotate(45deg);
}
@media (min-width: 650px) {
  nav .menu > div > div > ul > li ~ li {
    transform: translate(9rem, -2rem) rotate(45deg);
  }
}
nav .menu > div > div > ul > li > a {
  color: #f25430;
  text-decoration: none;
  transition: color 0.04s ease;
}

/*# sourceMappingURL=style.css.map */
