.main-biographien {
  flex-direction: column;
  font-size: 1rem;
  font-family: $font-default;
  padding-left: 0;
  padding-top: 0;

  > {
    section {
      &:not(:nth-child(2)) {
        flex-direction: column;
        background-color: rgb(16, 109, 109);
      }

      background-color: blueviolet;
      padding: 4%;
    }

    .sectionB>div {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 60px 140px auto;
    }
  }

  &:first-child {
    background-color: lightcoral;
  }
}

.sectionA>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-biographien> {
  section>div>p {
    margin: 2em;
    margin-bottom: 3em;
    text-align: justify;
  }

  h1 {
    font-size: 1.5rem;
    font-family: $font-default;
    display: flex;
    justify-content: center;
    /* font-stretch: extra-expanded; WARUM GREIT NICHT?*/
    padding: 2em;
  }

  section>div>p {
    line-height: 1.5;
    font-family: $font-default;
    font-size: 1rem;
  }
}

.sectionA>div>h2 {
  padding-top: 1%;
  font-size: large;
}