// Add the last section
// Fix last set of teachers to avoid hiding the last child (try this method: https://codepen.io/heydon/pen/ebQyYV?editors=1100)
// Better the alt descriptions to convey a feeling

.body-bios {
  display: flex;
  flex-direction: column;
}

.header-bios {
  background-color: white;
  height: 100px;

  .nav-bios-page {
    position: fixed;
    top: 2rem;
    right: 1rem;

    @media (min-width:500px) {
      right: 1.9rem;
    }
  }
}

.main__bios {
  color: white;
  display: grid;
  grid-template-rows: auto 20rem auto 20rem auto 50rem;
  font-family: $font-default;
  font-weight: 700;
  padding-left: 0;
  padding-top: 0;

  > {
    .main__bios__section {
      background-color: $secondary-color;
      padding: 3rem 3rem 0rem 3rem;
      flex-direction: column;

      h2 {
        padding: 0rem 3rem 0rem 3rem;
      }

      &>div>p {
        line-height: 1.5;
        font-family: $font-default;
        font-weight: 400;
        margin: 3rem 2rem;
        // change justify
        text-align: justify;

        @media (min-width:500px) {
          margin: 3rem 2rem;
        }
      }

      &.main__bios--founder>div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .main__bios-founder--title {
        padding-top: 1rem;
      }

      .main__bios-founder--name {
        padding: 0.5rem 0.5rem 1rem 0.5rem;
      }

      .main__bios--Virginia-Kahlo {
        height: 12rem;
        margin: 1rem;
      }
    }

    .main__bios--teachers {
      padding: 2rem 3rem 3rem 3rem;
      // .main__bios--painters:not(:nth-child(1)),
      // .main__bios--photographers:not(:nth-child(1)) {
      //   margin-top: 2rem;
      // }

      img {
        width: 11rem;
      }

      @media (min-width:600px) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      &.main__bios--teachers-photography,
      &.main__bios--teachers-paint {
        padding: 0rem 1.5rem;

        @media (min-width: 450px) {
          padding: 0rem 3rem;
        }
      }

      &.main__bios--teachers-photography {

        @media (min-width: 650px) {
          padding: 0rem 7rem;
        }
      }

      .main__bios--painters {
        margin-top: 2rem;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 3.5rem 11rem auto;

        @media (min-width:600px) {
          flex: 50%;
        }

        @media (min-width:992px) {
          flex: 25%;
        }
      }

      .main__bios--photographers {
        margin-top: 2rem;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 3.5rem 11rem auto;

        @media (min-width:800px) {
          flex: 25%;
        }
      }
    }

    // Wie kann ich das img so ansprechen, dass es kein overflow vertically hat, aber die ganze horizontally Fläche behält  
    .main__bios--main-art {
      min-width: 100vw;
      max-height: 45rem;
      padding: 0rem;
      // padding: 2rem 0;
      // padding-bottom: 0;
      overflow: hidden;

      img {

        @media (min-width:600px) {
          // object-fit: cover;
          // background-size: 100% 40rem;
          // object-fit: scale-down;
        }
      }

      // overflow: hidden;
      // object-fit: scale-down;

      .main__bios--main-art-2 {
        transform: scaleX(-1);
      }
    }
  }

  .main__bios--last-element-wrap {
    background-color: white;
    padding: 1rem 0rem 2rem 0rem;
  }

  .main__bios--last-element {
    display: flex;
    flex-direction: column;
    align-items: center;


    h2 {
      font-weight: 100;
      color: $secondary-color;
    }

    .main__bios__last-element--quote,
    .main__bios__last-element--quote-author,
    .main__bios__last-element--art-example,
    .main__bios__last-element--invitation {
      margin: 1rem;
      color: $secondary-color;
    }

    .main__bios__last-element--quote,
    .main__bios__last-element--quote-author {
      font-family: $font-kunst;
      font-size: x-large;
    }

    .main__bios__last-element--quote-author {
      display: flex;
      // change - flex-end only mobile size 
      align-self: flex-end;
    }

    .main__bios__last-element--art-example {
      margin: 2rem;
      // orange version
      filter: brightness(1.1) contrast(0.89) hue-rotate(-86deg) saturate(1.65);
      // sepia version
      // filter: sepia(1);
      // filter: grayscale(1);
    }
  }
}

// cambiar flex por grid en el ultimo elemento para acomodar el boton?
#last-element-btn {
  grid-row-start: 4;
  position: absolute;
  background-color: white;
  border: 3px solid $secondary-color;
  border-radius: 5px;
  width: fit-content;
  height: 34px;
  padding: 0.2rem 0.6rem 0rem;
  color: $secondary-color;
  font-family: $font-default;
  font-size: .85rem;
  z-index: 9;
  transform: translate(-0.5rem, 29.7rem) rotate(33deg);
  // font-stretch: ultra-expanded; does not work!

  @media (min-width: 600px) {}

  @media (min-width: 1100px) {}
}