// Better the alt descriptions to convey feelings

.body-bios {
  display: flex;
  flex-direction: column;
}

.header-bios {
  background-color: white;
  height: 100px;

  .nav-bios-page {
    position: fixed;
    top: 2rem;
    right: 1rem;

    @media (min-width:500px) {
      right: 1.9rem;
    }
  }
}

.main__bios {
  color: white;
  display: grid;
  grid-template-rows: auto 20rem auto 20rem auto 50rem;
  font-family: $font-default;
  font-weight: 700;
  padding-left: 0;
  padding-top: 0;

  > {
    .main__bios__section {
      background-color: $secondary-color;
      padding: 3rem 3rem 0rem 3rem;
      flex-direction: column;

      h2 {
        padding: 0rem 3rem 0rem 3rem;
      }

      &>div>p {
        line-height: 1.5;
        font-family: $font-default;
        font-weight: 400;
        margin: 3rem 2rem;
        // change justify
        text-align: justify;

        @media (min-width:500px) {
          margin: 3rem 2rem;
        }
      }

      &.main__bios--founder>div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .main__bios-founder--title {
        padding-top: 1rem;
      }

      .main__bios-founder--name {
        padding: 0.5rem 0.5rem 1rem 0.5rem;
      }

      .main__bios--Virginia-Kahlo {
        height: 12rem;
        margin: 1rem;
      }
    }

    .main__bios--teachers {
      padding: 2rem 3rem 3rem 3rem;
      // .main__bios--painters:not(:nth-child(1)),
      // .main__bios--photographers:not(:nth-child(1)) {
      //   margin-top: 2rem;
      // }

      img {
        width: 11rem;
      }

      @media (min-width:600px) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      &.main__bios--teachers-photography,
      &.main__bios--teachers-paint {
        padding: 0rem 1.5rem;

        @media (min-width: 450px) {
          padding: 0rem 3rem;
        }
      }

      &.main__bios--teachers-photography {

        @media (min-width: 650px) {
          padding: 0rem 7rem;
        }
      }

      .main__bios--painters {
        margin-top: 2rem;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 3.5rem 11rem auto;

        @media (min-width:600px) {
          flex: 50%;
        }

        @media (min-width:992px) {
          flex: 25%;
        }
      }

      .main__bios--photographers {
        margin-top: 2rem;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 3.5rem 11rem auto;

        // @media (min-width:768px) {
        //   flex: 25%;
        // }

        @media (min-width:900px) {
          flex: 33%;
        }
      }
    }

    // Wie kann ich das img so ansprechen, dass es kein overflow vertically hat, aber die ganze horizontally Fläche behält  
    .main__bios--main-art {
      min-width: 100vw;
      max-height: 45rem;
      padding: 0rem;
      overflow: hidden;

      img {

        @media (min-width:600px) {
          // object-fit: cover;
          // background-size: 100% 40rem;
          // object-fit: scale-down;
        }
      }

      .main__bios--main-art-2 {
        transform: scaleX(-1);
      }
    }
  }

  .main__bios--last-element-wrap {
    background-color: $primary-color;
    padding: 1rem 0rem 2rem 0rem;

    .main__bios--last-element {
      display: flex;
      flex-direction: column;
      align-items: center;


      h2 {
        font-weight: 100;
        // color: $secondary-color;
        color: white;
      }

      .main__bios__last-element--quote,
      .main__bios__last-element--quote-author,
      .main__bios__last-element--art-example,
      .main__bios__last-element--invitation {
        margin: 1rem;
        // color: $secondary-color;
        color: white;
      }

      .main__bios__last-element--quote,
      .main__bios__last-element--quote-author {
        font-family: $font-kunst;
        font-size: calc(1rem + 1vmin);
        margin: .5rem;
      }

      .main__bios__last-element--quote {
        padding: 0 5rem 0 0;
      }

      .main__bios__last-element--quote-author {
        padding: 0 0 0 16rem;
      }

      .main__bios__last-element--art-example {
        margin: 2rem;
        filter: brightness(1) contrast(0.89) hue-rotate(-93deg) saturate(1.65) // sepia version
      }
    }

    #last-element-btn {
      position: absolute;
      background-color: white;
      border: 3px solid $secondary-color;
      border-radius: 5px;
      width: fit-content;
      height: 34px;
      padding: 0.2rem 0.6rem 0rem;
      color: $secondary-color;
      font-family: $font-default;
      font-size: .85rem;
      z-index: 9;
      transform: translate(-0.5rem, 27.7rem) rotate(37.5deg);

      @media (min-width:1000px) {
        transform: translate(-0.5rem, 28rem) rotate(37.5deg);
      }

      @media (min-width:1300px) {
        transform: translate(-0.5rem, 29rem) rotate(37.5deg);
      }
    }
  }
}

.footer__bios {
  background-color: white;

  .footer__icons-bios {
    // border-bottom: solid $primary-color;
    padding-top: .7rem;
  }

  .footer__impressum-bios {
    background-color: $secondary-color;
    color: white;
  }
}