@media (min-width: 50px) {
  .carousel {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    flex-direction: column;
  }

  .slides {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .slides::-webkit-scrollbar {
    display: none;
  }

  .slides-item {
    display: grid;
    flex-shrink: 0;
    font-size: 100px;
    height: 85vh;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    grid-row-start: 1;
    grid-row-end: -1;
  }

  .carousel__nav {
    padding: 1.25rem .5rem;
  }

  // .slider-nav {
  //   align-items: center;
  //   background-color: $secondary-color;
  //   border-radius: 30%;
  //   color: white;
  //   display: inline-flex;
  //   height: 1.5rem;
  //   justify-content: center;
  //   padding: .5rem;
  //   position: relative;
  //   text-decoration: none;
  //   width: 1.5rem;
  // }

  .slider-nav:hover,
  .slider-nav:active {
    background-color: $primary-color;
    color: white;
  }


  .slide-2 {
    background-image: url(/resources/img/blue_mobile2.svg);

    @media (min-width: 500px) {
      background-image: url(/resources/img/blue_bg2.svg);
    }
  }

  .slide-3 {
    background-image: url(/resources/img/white_bg.svg);
  }

  .slide-4 {
    background-image: url(/resources/img/elfhouse_mobile.svg);

    @media (min-width: 500px) {
      background-image: url(/resources/img/elfhouse_bg.svg);
    }
  }

  .slide-5 {
    background-image: url(/resources/img/Superart_mobile2.svg), url(/resources/img/Superart_mobile2.svg);

    @media (min-width: 700px) {
      background-image: url(/resources/img/superkunst_bg.svg);
    }
  }


  // Better accessibility
  .carousel__skip-link {
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }

  .carousel__skip-link:focus {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 30px;
    height: 680px;
    justify-content: center;
    opacity: .8;
    text-decoration: none;
    width: 100%;
    z-index: 1;
  }
}