header {
  // position: fixed;
  // z-index: 2;
  background-color: white;
  display: grid;
  align-items: center;
  padding-top: 1.4rem;
  grid-template-columns: 5fr 2fr 3fr;

  // Hacerlo responsive, de pronto mas grande segun la pantalla
  #logo {
    margin-left: 2.5rem;

    img {
      height: auto;
      width: 7rem;
    }
  }

  button {
    grid-column-start: 2;
    background-color: white;
    border: 3px solid $secondary-color;
    border-radius: 5px;
    width: fit-content;
    padding: .3rem .6rem .1rem .6rem;
    color: $secondary-color;
    font-family: $font-default;
    font-size: .85rem;
    // font-stretch: ultra-expanded; does not work!

    @media (min-width: 650px) {
      grid-column-start: 3;
    }
  }
}