header {
  background-color: white;
  display: grid;
  grid-template-columns: 5fr 2fr 3fr;

  #logo {
    position: fixed;
    top: 2rem;
    left: 2.5rem;

    img {
      height: auto;
      width: 7rem;
    }
  }

  button {
    grid-column-start: 2;
    position: sticky;
    top: 2.3rem;
    background-color: white;
    border: 3px solid $secondary-color;
    border-radius: 5px;
    width: fit-content;
    padding: .4rem .6rem;
    align-self: center;
    color: $secondary-color;
    font-family: $font-default;
    font-size: .75rem;

    @media (min-width: 650px) {
      grid-column-start: 3;
    }
  }
}