main,
.container {
  background-color: white;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2.3rem;
  padding-top: 2rem;
  color: $primary-color;

  .container__fullname {
    margin-top: 85px;
    line-height: 1.2;
    font-family: $font-kunst;
    color: $secondary-color;
    font-size: 2rem;

    // @media (min-width: 576px) {
    //   margin-top: 15vw;
    // }

    // @media (min-width: 768px) {
    //   margin-top: 13vw;
    // }

    // @media (min-width: 992px) {
    //   margin-top: 10vw;
    // }

    // @media (min-width: 1200px) {
    //   margin-top: 5vw;
    // }
  }

  .container__carousel-instructions {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: flex-end;
    font-family: $font-default;
    font-size: 1rem;
    padding-right: 9rem;
  }

  // @media (min-width: 650px) {
  //   justify-content: flex-start;
  //   align-items: flex-start;
  // }

  a:hover {
    cursor: pointer;
  }
}