nav {
  position: fixed;
  top: 2rem;
  right: 2.1rem;
  z-index: 9;

  .nav__input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0;

    // Toggler animation
    &:checked+.nav__hamburger>div {
      transform: rotate(135deg);

      // Turns lines into X
      &:before,
      &:after {
        top: 0;
        transform: rotate(90deg);
      }
    }

    // Show menu
    &:checked~.menu {
      visibility: visible;

      &>div {
        transform: scale(1);
        transition-duration: .4s ease;

        &>div {
          opacity: 1;
          transition: opacity .4s ease;
        }
      }
    }
  }

  .nav__hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 45px;
    height: 45px;
    padding: .6rem;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .9s ease;

    // Hamburger center line
    &>div {
      position: relative;
      width: 100%;
      height: 2px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      // Hamburger outer lines
      &:before,
      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
      }

      // Moves line down
      &:after {
        top: 10px;
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &>.menu__wrap {
      background: white;
      width: 300vw;
      height: 300vw;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      transform: scale(1);
      transition: all .5s ease;

      &>ul>li {
        border: $secondary-color solid 3px;
        height: 7rem;
        width: 2rem;
        border-radius: 5px;
        transform: translate(-3rem, -7rem) rotate(405deg);
        padding: .5rem;

        @media (min-width: 650px) {
          transform: translate(-13rem, -1rem) rotate(405deg);
          height: 8rem;
          width: 2.5rem;
        }

        &~li {
          transform: translate(3rem, 3rem) rotate(-45deg);

          @media (min-width: 650px) {
            transform: translate(13rem, -9rem) rotate(-45deg);
          }
        }
      }
    }

    .menu__team,
    .menu__team--link,
    .menu__infos--link {
      color: $primary-color;
      text-decoration: none;
      font-family: $font-default;
      font-size: 1rem;
      transition: color .04s ease;

      @media (min-width: 650px) {
        font-size: 1.2rem;
      }

      & .menu__team-letters {
        transform: translate(3rem, 3rem) rotate(-45deg);
        display: flex;
        flex-direction: column;
        line-height: 20px;

        .t {
          transform: translate(2rem)
        }

        .e {
          transform: translate(3rem)
        }

        .a {
          transform: translate(4rem)
        }

        .m {
          transform: translate(5rem)
        }
      }

      @media (min-width: 650px) {
        transform: translate(1rem, .5rem) rotate(-45deg);


        .t {
          transform: translate(2rem)
        }

        .e {
          transform: translate(3rem)
        }

        .a {
          transform: translate(4rem)
        }

        .m {
          transform: translate(5rem)
        }
      }

      & .menu__infos-letters {
        transform: translate(-4rem, 1.6rem) rotate(45deg);
        line-height: 20px;

        .i {
          transform: translate(0rem)
        }

        .n {
          transform: translate(-1rem)
        }

        .f {
          transform: translate(-2rem)
        }

        .o {
          transform: translate(-3rem)
        }

        .s {
          transform: translate(-4rem)
        }

        @media (min-width: 650px) {
          transform: translate(-4rem, 2rem) rotate(45deg);

          .i {
            transform: translate(0rem)
          }

          .n {
            transform: translate(-1.5rem)
          }

          .f {
            transform: translate(-3rem)
          }

          .o {
            transform: translate(-4.5rem)
          }

          .s {
            transform: translate(-6rem)
          }
        }
      }
    }
  }
}