// colors
$primary-color: #f25430;
$secondary-color: #011140;

// font - the other is bold and black from blakely
// try to add Trebuchet MS as a fallback
$font-default: 'Avenir Next LT Pro', sans-serif;
$font-kunst: 'Blakely', sans-serif;

// revisar como descargar las variantes
$avenir-medium: 700;
$avenir-demi: 800;
$avenir-bold: 900;